{% extends 'temp.html' %}
{% block content %}
<h1>Create New Tag</h1>

<form method="POST" action="/tags/new">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
    </div>

    {% for post in posts %}
    <div>
        <input type="checkbox" value="{{ post.id }}" id="post_{{ post.id }}" name="posts">
        <label for="post_{{ post.id }}">{{ post.title }}</label>
    </div>
    {% endfor %}

    <div>
        <button type="submit">Add Tag</button>
        <a href="/tags">Cancel</a>
    </div>
</form>

{% endblock %}