{% extends 'temp.html' %}

{% block content %}

<h1>New User</h1>

<form method="POST">

    <div>
        <label>First Name</label>
        <div>
            <input type="text" id="first_name" name="first_name" placeholder="Enter first name">
        </div>
    </div>

    <div>
        <label>Last Name</label>
        <div>
            <input type="text" id="last_name" name="last_name" placeholder="Enter last name">
        </div>
    </div>

    <div>
        <label>Image URL</label>
        <div>
            <input type="text" id="image_url" name="image_url" placeholder="Enter image URL">
        </div>
    </div>

    <div>
        <button type="submit">Add New User</button>
    </div>

</form>


{% endblock %}